*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
.container_direct{
    background-image: linear-gradient(rgb(135, 206, 250,0.8),rgba(151,193,220,0.1));
    width:100%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    background: #F0FFFF;
    border-radius: 100px;
    padding: 1px;
    box-shadow: 0 25px 20px -20px rgb(0, 0, 0, 0.4);
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 6px 10px;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    color:#777;
    cursor: pointer;
    position: relative;
}
nav ul li::after{
    content: "";
    background: #00BFFF;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
}