.shell{
    position: relative;
    width: 1000px;
    padding: 6px;
    background-color: #ff7575;
    border-radius: 20px;
    box-shadow: 0 1px 5px #ff7575, 0 0 0 4px #fff;
}
.shell input{
    width: 80%;
    height: 20px;
    color: #fff;
    font:300 20px '优设标题黑';
    border: 0;
    background-color: transparent;
}
.shell input::placeholder{
    color:#8f36367e;
}
.shell a{
    display: flex;
    font-size: 12px;
    position: absolute;
    right: 80px;
    top: 10px;
    color:#fff;
    width: 250px;
    height: 1150px;
}
.shell a .fa{
    margin: 10px 28px;
    transition: .3s;
}
.shell a .fa-search{
    transform: translate(-80px);
    opacity: 1;
}
.shell a .fa-hand-o-right{
    transform: translate(-100px);
    opacity: 0;
}
.shell a:hover .fa-search{
    transform: translate(0);
    opacity: 0;
}
.shell a:hover .fa-hand-o-right{
    transform: translate(110px);
    opacity: 1;
}
.shell a::before{
    content: 'GO!';
    position: absolute;
    display: block;
    font-size: 50px;
    background-color: #ff7575;
    padding: 5px 30px;
    top:50px;
    right:-25px;
    border-radius: 10px;
    transition: .3s;
    opacity: 0;
    animation: box 1s infinite ease;
}
.shell a:hover::before{
    top: -115px;
    opacity: 1;
}
@keyframes box {
    0%{
        transform: rotate(0deg);
    }
    33%{
        transform: rotate(8deg);
    }
    66%{
        transform: rotate(-8deg);
    }
    100%{
        transform: rotate(0deg);
    }
}