<!DOCTYPE html>
<html lang="en" style="height: 100%;width: 100%;">
<head>
    <meta charset="UTF-8">
    <title>FHA题库</title>
    <!--logo-->
    <link rel="shortcut icon" href="image/wyb.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/direct.css">
    <link rel="stylesheet" href="css/shell.css">
    <link rel="stylesheet" href="css/wts-app.css">
    <!-- 导入字体图标库 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body background="image/天空 (1).JPG" style="background-size: cover">
<div id="app">
    <!--导航栏-->
    <div class="container_direct">
        <div  style="position: absolute;z-index: 99;top: 9px;left: 30px">
            <img src="image/wyb.png" height="40px" width="60px">
        </div>
        <nav>
            <ul>
                <li>试卷管理</li>
                <li>答题室</li>
                <li>成绩统计</li>
                <li>我的</li>
            </ul>
        </nav>
    </div>
    <!--搜素框-->
    <div class="shell" style="margin: auto; width: 45%; margin-top: 10px">
        <input type="text" placeholder="Search" style="border: none; outline: medium">
        <a href="https://www.baidu.com" >
            <i class="fa fa-hand-o-right"></i>
            <i class="fa fa-search"></i>
        </a>
    </div>
    <!--分割线-->
    <el-divider></el-divider>
    <!--选择-->
    <ul class="wts-hometype-ul">
        <el-radio-group v-model="radio1">
            <el-radio-button label="全部"></el-radio-button>
            <el-radio-button label="题型演示"></el-radio-button>
        </el-radio-group>
    </ul>
    <!--卡片-->
    <div class="container" style="margin-top: 28px">
        <ul class="wts-subjects" style="padding-top: 20px">
            <li id="examAll" class="active">
                <!-- 首页--分类考场中的考场展示 -->
                <!--单选 多选 判断 组合 评价-->
                <div class="col-md-4" style="padding-left: 8px; padding-right: 8px;" v-for="(paper,j) in title">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="media" style="height: 185px; overflow: hidden;">
                                <div style="text-align: center; border-bottom: 1px dashed #ccc; margin-bottom: 8px; padding-bottom: 0px;">
                                    <!--问卷标志-->
                                    <img alt="" src="http://wts.demo.wcpknow.com:80/text/img/questTag.png"
                                         style="width: 64px; height: 64px; position: absolute; left: 8px; top: 0px;">
                                    <div class="side_unit_info">永久有效</div>
                                    <div class="doc_node_title_box" style="font-size: 14px; white-space: nowrap;">
                                        {{paper.title}}
                                    </div>
                                </div>
                                <div class="pull-right" style="float: right;">
                                    <img alt="哎呀！出错啦"
                                         style="width: 96px; height: 96px; margin-bottom: 8px; border-radius: 3px;"
                                         v-bind:src="paper.image">
                                </div>
                                <div class="media-body" style="padding-top: 14px">
                                    <div style="margin-left: 4px;" class="pull-left">
                                        <div class="side_unit_info">
                                            类型：
                                            <code>{{paper.a}}</code>
                                        </div>
                                        <div class="side_unit_info">
                                            条件：{{paper.b}}
                                        </div>
                                        <div class="side_unit_info">分类：题型演示</div>
                                        <div class="side_unit_info">
                                            状态：
                                            <span style="margin-right: 10px; font-size: 12px;"
                                                  class="label label-success">{{paper.c}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div style="padding-top: 20px;">
                                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                        <div class="btn-group  btn-group-xs" role="group">
                                            <a href="exam/roompage.do?roomid=2c91808c81225f9801812270d4f2000c"
                                               type="button"
                                               title="0/0" class="btn btn-info">
                                                {{paper.d}} </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!--页脚-->
    <div class="foot">
        FHA题库 -V 1.0.0
    </div>
</div>
<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">

<script>
    new Vue({
        el: "#app",
        data(){
            return {
                input:'',
                radio1: '全部',
                title:[
                    {
                title: "单选题练习",
                    a: "学习模式",
                    b: "人员无限制/任何人员",
                    c: "进入学习",
                    d:"开始学习",
                    image: "image/单选.PNG",
            },{
                        title: "多选题练习",
                        a: "学习模式",
                        b: "人员无限制/任何人员",
                        c: "进入学习",
                        d:"开始学习",
                        image: "image/多选.PNG",
                    },{
                        title: "组合题型练习",
                        a: "练习模式",
                        b: "人员无限制/任何人员",
                        c: "进入练习",
                        d:"开始学习",
                        image: "image/组合.PNG",
                    },{
                        title: "来考试练练手把！",
                        a: "标准答题",
                        b: "时长60分钟/任何人员",
                        c: "进入考试",
                        d:"开始考试",
                        image: "image/考试.PNG",
                    },{
                        title: "请给我们的网页打个分吧",
                        a: "问卷模式",
                        b: "/任何人员",
                        c: "进入问卷",
                        d:"进入问卷",
                        image: "image/问卷.PNG",
                    }
                ],
            }
        }
    })
</script>
</body>
</html>