<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/card.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/card.css">
    <link rel="stylesheet" type="text/css" href="css/subject.css">
    <link rel="stylesheet" type="text/css" href="css/codemirror.css">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app">


    <!--页头-->
    <div>

    </div>
    <!--页头以下-->
    <div class="containerbox">
        <div style="background-color: #ffffff; border-bottom: 1px solid #cccccc;">
            <div class="container" style="padding: 4px;margin-left: 90px;width: auto">
                <el-row :gutter="20">
                    <el-col :span="15">
                        <div style="padding: 4px; width: 1144px; " >
                            <!--题目-->
                            <div style="text-align: center;">
                                <h1>{{topic.name}}</h1>
                                <span style="font-weight: 700;">共{{topic.nums_big}}道大题，{{topic.nums_number}}道小题, 满分{{topic.totalScore}}</span>
                                <span style="font-weight: 700;">
                                    <br>
                                        答题时间：<span style="color: #dd6161">{{topic.time}}</span>
                                        答 题 人：<span style="color: #dd6161">{{user.name}}</span>
                                </span>
                            </div>

                            <!--题目框-->
                            <div class="">
                            <div  v-for="item in 5" class="chapterBox">
                                <div class="subjectUnitViewBox">
                                    <div>{{topic.topics.type}}<span
                                            class="subjectPoint">本题{{topic.topics.score}}分</span>
                                    </div>
                                    <!--题目-->
                                    <div class="subjectOrder">{{topic.topics.top1.index}}</div>
                                    <div>{{topic.topics.top1.subject}}<span
                                            class="subjectPoint">本题{{topic.topics.top1.grade}}分</span>
                                    </div>
                                    <!--答案-->
                                    <div style="margin: 8px;">
                                        <div class="wts-select-unit">
                                            <div v-for="item in topic.topics.top1.options" >
                                                <div style="float: left; margin-left: 20px;" targetid={{topic.topics.top1.id}}>
                                                    <div>{{item[0]}}.</div>
                                                </div>
                                                <div>{{item[1]}}</div>
                                            </div>
                                        </div>

                                        <div class="answerUnitViewBox">
                                            <ul>
                                                <li v-for="(item, index) in topic.topics.top1.options">
                                                    <label style="cursor: pointer;">
                                                        {{item[0]}}.<input id={{topic.topics.top1.id}} v-model=topic.topics.top1.select style="cursor: pointer;" type="radio"
                                                           name={{topic.topics.top1.id}} v-bind:value="index+1">
                                                    </label>
                                                </li>
                                            </ul>
                                            <div style="clear: both;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </el-col>
                    <!-- 题目卡片 -->
                    <el-col :span="9">
                        <div class="FHA-sidecard" data-spy="affix" data-offset-top="60">
                            <!--标题-->
                            <div class="title">答题卡</div>
                            <!--题目卡-->
                            <div class="FHA-sidecard-subjects" style="overflow: auto; max-height: 300px;">
                                <h1>选择题<span class="chapter-info">100分</span></h1>
                                <ul>
                                    <li class="FHA-side-subjuct-unit" v-for="i in 25">
                                        {{i}}
                                    </li>
                                </ul>
                            </div>
                            <!--开始截止时间-->
                            <div class="btn-group btn-group-justified FHA-sidecard-buttons" style="margin-top: 0; border-top: 1px dashed #ccc;">
                                <div class="btn-group" role="group">
                                    <div style="font-size: 12px; color: #999; text-align: center; padding-top: 2%" title="以服务器时间为准">
                                        开始答题 20:26:28 - 结束答题 20:38:28
                                    </div>
                                </div>
                            </div>
                            <!--倒计时-->
                            <div class="btn-group btn-group-justified FHA-sidecard-buttons" style="margin-top: 0;" role="group" aria-label="...">
                                <div class="btn-group" role="group">
                                    <div class="btn FHA-countdown-title" title="以服务器时间为准" style="text-align: center">
                                        <span id="countDownTimerBoxId" class="defaut alarm" title="以服务器时间为准">0分36秒</span>
                                    </div>

                                </div>
                            </div>

                            <!--交卷-->
                            <div style="text-align: center; padding-top: 3%; font-size: 40%" >
                            <el-button type="primary">主要按钮</el-button>
                            </div>
                            <div>
                                <h1>{{topic.topics.top1.select}}</h1>
                            </div>
                        </div>
                        </div>
                    </el-col>
                </el-row>
            </div>
        </div>
    </div>
</div>


<script src="js/app.js"></script>
<!--导入axios框架 vue2框架 element组件 以及css样式-->
<script src="js/axios-0.18.0.js"></script>
<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
<script>
    var vue = new Vue({
        el: "#app",
        methods: {

        },
        data() {
            return {
                deadline: Date.now() + 1000 * 60 * 60 * 8,
                topic: {
                    name: "各种题型展示",
                    nums_big: 2,
                    nums_number: 7,
                    totalScore: 100,
                    time: 60,
                    topics: {
                        type: "选择题",
                        score: 100,
                        top1: {
                            id: 1,
                            index: 1,
                            subject: "“举世闻名”中“举”的意思是()，“举重”中“举”的意思是()。",
                            grade: 5,
                            select:0,
                            options: [["A", "往上托"],
                                ["B", "全"],
                                ["C", "推选"],
                                ["D", "举动"],]
                        }
                    }
                },
                user: {
                    name: "何涛",
                }
            }
        }
    })
</script>
</body>
</html>