<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/card.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/card.css">
    <link rel="stylesheet" type="text/css" href="css/subject.css">
    <link rel="stylesheet" type="text/css" href="css/codemirror.css">
</head>
<body>
<div id="app">


    <!--页头-->
    <div>

    </div>
    <!--页头以下-->
    <div class="containerbox">
        <div style="background-color: #ffffff; border-bottom: 1px solid #cccccc;">
            <div class="container" style="padding: 4px;">
                <el-row :gutter="20">
                    <el-col :span="15">
                        <div style="padding: 4px;">
                            <!--题目-->
                            <div style="text-align: center;">
                                <h1>{{topic.name}}</h1>
                                <span style="font-weight: 700;">共{{topic.nums_big}}道大题，{{topic.nums_number}}道小题, 满分{{topic.totalScore}}</span>
                                <span style="font-weight: 700;">
                                    <br>
                                        答题时间：<span style="color: #dd6161">{{topic.time}}</span>
                                        答 题 人：<span style="color: #dd6161">{{user.name}}</span>
                                </span>
                            </div>

                            <!--题目框-->
                            <div>
                                <div class="subjectUnitViewBox">
                                    <div>{{topic.topics.type}}<span
                                            class="subjectPoint">本题{{topic.topics.score}}分</span>
                                    </div>
                                    <!--题目-->
                                    <div class="subjectOrder">{{topic.topics.top1.index}}</div>
                                    <div>{{topic.topics.top1.subject}}<span
                                            class="subjectPoint">本题{{topic.topics.top1.grade}}分</span>
                                    </div>
                                    <!--答案-->
                                    <div style="margin: 8px;">
                                        <div class="wts-select-unit">
                                            <div v-for="item in topic.topics.top1.options">
                                                <div style="float: left; margin-left: 20px;">
                                                    <div>{{item[0]}}.</div>
                                                </div>
                                                <div>{{item[1]}}</div>
                                            </div>
                                        </div>

                                        <div class="answerUnitViewBox">
                                            <ul>
                                                <li v-for="item in topic.topics.top1.options">
                                                    <label style="cursor: pointer;">
                                                        {{item[0]}}.<input id={{topic.topics.top1.id}}
                                                                           style="cursor: pointer;" type="radio"
                                                                           name={{topic.topics.top1.id}}>
                                                    </label>
                                                </li>
                                            </ul>
                                            <div style="clear: both;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </el-col>
                    <!-- 题目卡片 -->
                    <el-col :span="9">
                        <div class="FHA-sidecard" data-spy="affix" data-offset-top="60">
                            <!--标题-->
                            <div class="title">答题卡</div>
                            <div class="FHA-sidecard-subjects" style="overflow: auto; max-height: 300px;">
                            <!--题目卡-->
                            <!--开始截止时间-->
                            <!--倒计时-->
                            <!--交卷-->
                        </div>
                        </div>
                    </el-col>
                </el-row>
            </div>
        </div>
    </div>
</div>


<script src="js/app.js"></script>
<!--导入axios框架 vue2框架 element组件 以及css样式-->
<script src="js/axios-0.18.0.js"></script>
<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
<script>
    new Vue({
        el: "#app",
        methods: {},
        data() {
            return {
                topic: {
                    name: "各种题型展示",
                    nums_big: 2,
                    nums_number: 7,
                    totalScore: 100,
                    time: 60,
                    topics: {
                        type: "选择题",
                        score: 100,
                        top1: {
                            id: 1,
                            index: 1,
                            subject: "“举世闻名”中“举”的意思是()，“举重”中“举”的意思是()。",
                            grade: 5,
                            options: {
                                option1: ["A", "往上托"],
                                option2: ["B", "全"],
                                option3: ["C", "推选"],
                                option4: ["D", "举动"],
                            },
                        }
                    }
                },
                user: {
                    name: "何涛",
                }
            }
        }
    })
</script>
</body>
</html>