<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>开始答题</title>
    <link rel="icon" href="images/log.svg">
    <link href="css/card.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/card.css">
    <link rel="stylesheet" type="text/css" href="css/subject.css">
    <link rel="stylesheet" type="text/css" href="css/codemirror.css">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app" style="min-height: 713px">
    <!--页头-->
    <div>
    <!--页头一-->
    <!--页头二-->
        <el-page-header @back="goBack" content="详情页面"></el-page-header>
        <el-divider></el-divider>
    </div>

    <!--页头以下-->
    <div class="containerbox" v-loading="loading">
        <template v-if="paper">
        <div style="background-color: #ffffff; border-bottom: 1px solid #cccccc;">
            <div class="container" style="padding: 4px;margin-left: auto;margin-right: auto; width: 1140px">
                <el-row :gutter="20">
                    <el-col :span="18">
                        <div style="padding: 4px;" >
                            <!--题目-->
                            <div style="text-align: center;">
                                <h1>{{paper.name}}</h1>
                                <span style="font-weight: 700;">共{{paper.typeNums}}道大题，{{paper.totalNums}}道小题, 满分{{paper.score}}</span>
                                <span style="font-weight: 700;">
                                    <br>
                                        答题时间：<span style="color: #dd6161">{{paper.time}}</span>
                                        答 题 人：<span style="color: #dd6161">{{user.name}}</span>
                                </span>
                            </div>

                            <!--题目框-->
                            <div class="">
                            <div class="chapterBox">
                                <div class="subjectUnitViewBox" v-for="(item, index2) in paper.items">
                                    <div>{{item.type}}<span
                                            class="subjectPoint">本题{{item.score}}分</span>
                                    </div>
                                    <!--题目-->
                                    <div v-for="(topic, index) in item.topics">
                                    <div class="subjectOrder">{{index+1}}</div>
                                    <div v-bind:id="item.id+'#' + index">{{topic.title}}<span
                                            class="subjectPoint">本题{{item.score / item.totalNums}}分</span>
                                    </div >
                                    <!--答案-->
                                    <div style="margin: 8px;">
                                        <div class="wts-select-unit">
                                            <div v-for="(option, index) in topic.options" >
                                                <div style="float: left; margin-left: 20px;">
                                                    <div>{{String.fromCharCode(65+index)}}.</div>
                                                </div>
                                                <label v-bind:for="item.id+'#'+option.id+'#'+index">
                                                <div style="cursor: pointer">{{option}}</div></label>
                                            </div>
                                        </div>

                                        <div class="answerUnitViewBox">
                                            <ul>
                                                <li v-for="(option, index) in topic.options">
                                                    <label style="cursor: pointer;">
                                                        {{String.fromCharCode(65+index)}}.<input
                                                            v-model= "option.select" style="cursor: pointer;" type="radio"
                                                            v-bind:value="index+1" v-bind:id="item.id+'#'+option.id+'#'+index" v-bind:name="topic.id">
                                                    </label>
                                                </li>
                                            </ul>
                                            <div style="clear: both;"></div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </el-col>
                    <!-- 题目卡片 -->
                    <el-col :span="6">
                        <div class="FHA-sidecard" style="position: fixed" data-spy="affix" data-offset-top="60">
                            <!--标题-->
                            <div class="title">答题卡</div>
                            <!--题目卡-->
                            <div class="FHA-sidecard-subjects" style="overflow: auto; max-height: 300px;" v-for="item in paper.items">
                                <h1>{{item.type}}<span class="chapter-info">{{item.score}}</span></h1>
                                <ul>
                                    <li class="FHA-side-subjuct-unit" v-for="i in item.totalNums">
                                        <a v-bind:href="'#'+item.id+'#' + (i-1)" style="text-decoration: none;">
                                        {{i}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!--开始截止时间-->
                            <div class="btn-group btn-group-justified FHA-sidecard-buttons" style="margin-top: 0; border-top: 1px dashed #ccc;">
                                <div class="btn-group" role="group">
                                    <div style="font-size: 12px; color: #999; text-align: center; padding-top: 2%" title="以服务器时间为准">
                                        开始答题 {{date1}} - 结束答题 {{date2}}
                                    </div>
                                </div>
                            </div>
                            <!--倒计时-->
                            <div class="btn-group btn-group-justified FHA-sidecard-buttons" style="margin-top: 0;" role="group" aria-label="...">
                                <div class="btn-group" role="group">
                                    <div class="btn FHA-countdown-title" title="以服务器时间为准" style="text-align: center">
                                        <span id="countDownTimerBoxId" class="defaut alarm" title="以服务器时间为准">0分36秒</span>
                                    </div>
                                </div>
                            </div>

                            <!--交卷-->
                            <div style="text-align: center; padding-top: 3%; font-size: 40%; padding-bottom: 3%" >
                            <el-button type="primary" @click="submit()">提交试卷</el-button>
                            </div>
                        </div>
                    </el-col>
                </el-row>
            </div>
        </div>
        </template>
    </div>

    <!--页脚-->
    <div class="foot">
        FHA题库 -V 1.0.0
    </div>
</div>


<script src="js/app.js"></script>
<!--导入axios框架 vue2框架 element组件 以及css样式-->
<script src="js/axios-0.18.0.js"></script>
<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
<script>
    var vue = new Vue({
        el: "#app",
        watch:{
            select: function (){
                alert(this.select);
                for (let i = 0; i < this.paperReturnID.length; i++){
                    if (this.paperReturn.id === id)
                        this.paperReturnID.select = select;
                }
            }
        },
        mounted(){
            let _this = this;
            axios({
                method: "post",
                url: "http://localhost:8080/FanHA-Exam/Topic/showPaper",
                data: _this.topicName
            }).then(function (resp){
                _this.paper = resp.data;
                _this.getTime(_this.paper.time);
                _this.loading = false;
            })
        },
        methods: {
            getTime(time){
                let date = new Date();
                let hours = date.getHours();
                let minutes = date.getMinutes();
                let seconds = date.getSeconds();
                let minutes2 = (date.getMinutes() + time)%60;
                let hours2 = (hours+parseInt ((minutes2 + time)/60))%24;

                if(hours < 10){hours = '0'+hours}
                if(minutes < 10){minutes = '0'+minutes}
                if(seconds < 10){seconds = '0'+seconds}
                if(hours2 < 10){hours2 = '0'+parseInt(hours2) }
                if(minutes2 < 10){minutes2 = '0'+parseInt(minutes2)}
                this.date1 = hours + ':' + minutes + ':' + seconds
                this.date2 = hours2 + ':' + minutes2 + ':' + seconds
            },
            submit(){
                for (let i = 0; i < this.paperReturnID.length; i++){
                    console(this.paperReturnID.id)
                    console(this.paperReturnID.select)
                }
            },
            paperReturn(){
                for (let item in this.paper.items)
                    for (let topic in item.topics){
                        let demo = {
                            id : topic.id,
                            select : ''
                        }
                        this.paperReturnID.push(demo)
                    }
            },
            goBack() {
                window.location.href="homePaper.html"
            }
        },
        data() {
            return {
                paperReturnID:[],
                deadline: Date.now() + 1000 * 60 * 60 * 8,
                topicName:"testPaper",
                paper: {},
                select:'',
                loading:true,
                user: {
                    name: "何涛",
                },
                date1:'',
                date2:'',
            }
        }
    })
    function dateLine(min){

    }
</script>
</body>
</html>