<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--logo-->
    <link rel="shortcut icon" href="image/wyb.png"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/direct.css">
    <link rel="stylesheet" href="css/mine_box.css">
    <link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/wts-app.css">
    <link rel="stylesheet" href="css/shell.css">
    <!-- 导入字体图标库 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <title>FHA题库-我的题库</title>
    <title>Title</title>
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>
</head>
<body onload="getWidth()" background="image/天空 (1).JPG" style="background-size: cover">
<div id="app" style="height:714px">
    <!--页眉-->
    <!--导航栏-->
    <div class="container_direct">
        <div style="position: absolute;z-index: 99;top: 9px;left: 30px">
            <img src="image/wyb.png" height="40px" width="60px">
        </div>
        <nav>
            <ul>
                <li>试卷管理</li>
                <li>答题室</li>
                <li>成绩统计</li>
                <li>我的</li>
            </ul>
        </nav>
    </div>

    <!--正文-->
    <div style="margin: auto; height: 100%">
        <!--侧边栏-->
        <el-row gutter="20">
            <el-col :span="3" :offset="3">
                <div>
                    <el-menu
                            default-active="2"
                            class="el-menu-vertical-demo">
                        <el-menu-item index="1">
                            <i class="el-icon-location"></i>
                            <span>试卷</span>
                        </el-menu-item>
                        <el-menu-item index="2">
                            <i class="el-icon-menu"></i>
                            <span>试题集</span>
                        </el-menu-item>
                        <el-menu-item index="3">
                            <i class="el-icon-document"></i>
                            <span>试题</span>
                        </el-menu-item>
                    </el-menu>
                </div>
            </el-col>
            <!--表格-->
            <el-col :span="15">
                <template>
                    <!--添加按钮-->
                    <el-button type="primary" icon="el-icon-edit" @click="dialogFormVisible = true;resetForm('ruleForm');">添加试卷</el-button>
                    <!--添加表单-->
                    <el-dialog title="添加题目"  center :visible.sync="dialogFormVisible">
                        <el-form  :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                            <div style="width: 50%">
                                <el-form-item label="活动名称" prop="name">
                                    <el-input v-model="ruleForm.name"></el-input>
                                </el-form-item>
                                <el-form-item label="答题时间" prop="time">
                                    <el-input v-model.number="ruleForm.time"></el-input>
                                </el-form-item>
                            </div>
                            <el-transfer style="padding-left: 2%" v-model="value" :data="data" filterable></el-transfer>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click="dialogFormVisible = false">取 消</el-button>
                            <el-button type="primary" @click="dialogFormVisible = false">确 定</el-button>
                        </div>
                    </el-dialog>
                    <!--表格正文-->
                    <el-table
                            border
                            ref="multipleTable"
                            :data="tableData"
                            tooltip-effect="dark"
                            style="width: 100%"
                            :row-class-name="tableRowClassName">
                        @selection-change="handleSelectionChange">
                        <el-table-column
                                type="selection"
                                fixed
                                width="55">
                        </el-table-column>
                        <el-table-column
                                prop="date"
                                label="日期"
                                sortable
                                width="120">
                            <template slot-scope="scope">{{ scope.row.date }}</template>
                        </el-table-column>
                        <el-table-column
                                prop="name"
                                label="试卷名称"
                                width="120">
                        </el-table-column>
                        <el-table-column
                                prop="name"
                                label="答题时间"
                                width="120">
                        </el-table-column>
                        <el-table-column
                                prop="address"
                                label="题型数量"
                                show-overflow-tooltip>
                        </el-table-column>
                        <el-table-column
                                prop="name"
                                label="题目总数"
                                width="120">
                        </el-table-column>
                        <el-table-column
                                prop="address"
                                label="试卷分数"
                                show-overflow-tooltip>
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <!--编辑键-->
                                <el-button
                                        size="mini"
                                        >编辑
                                </el-button>
                                <!--编辑面板-->

                                <!--删除键-->
                                <el-popconfirm
                                        confirm-button-text='好的'
                                        cancel-button-text='不用了'
                                        icon="el-icon-info"
                                        icon-color="red"
                                        title="这是一段内容确定删除吗？">
                                    <el-button slot="reference" size="mini" type="danger">删除</el-button>
                                </el-popconfirm>

                            </template>
                        </el-table-column>
                    </el-table>
                </template>
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage4"
                        :page-sizes="[10, 20, 30, 40]"
                        :page-size="100"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="400">
                </el-pagination>
            </el-col>
        </el-row>
    </div>
    <!--页脚-->


</div>
<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
<script>
    new Vue({
        el: "#app",
        methods: {
            /*着色*/
            tableRowClassName({row, rowIndex}) {
                if (rowIndex % 4 === 1) {
                    return 'warning-row';
                } else if (rowIndex % 4 === 3) {
                    return 'success-row';
                }
                return '';
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        },
        data() {
            const generateData = _ => {
                const data = [];
                for (let i = 1; i <= 15; i++) {
                    data.push({
                        key: i,
                        label: `备选项 ${ i }`,
                        disabled: i % 4 === 0
                    });
                }
                return data;
            };
            return {
                tableData: [{
                    date: '2016-05-03',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    date: '2016-05-02',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    date: '2016-05-04',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 15182 弄11111111111111111111111111111111111'
                }, {
                    date: '2016-05-01',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    date: '2016-05-08',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    date: '2016-05-06',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    date: '2016-05-07',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    date: '2016-05-06',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    date: '2016-05-07',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    date: '2016-05-06',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    date: '2016-05-07',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    date: '2016-05-06',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    date: '2016-05-07',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }],
                visible: false,
                multipleSelection: [],
                ruleForm: {
                    name: '',
                    time: '',
                },
                rules: {
                    name: [
                        { required: true, message: '请输入试卷名称', trigger: 'blur' },
                        { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
                    ],
                    time :[
                        {required: true, message: '请输入答题时间', trigger: 'blur'},
                        { type: 'number', message: '时间必须为数字值'}
                    ]
                },
                dialogFormVisible: false,
                data: generateData(),
                value: [1, 4]
            }
        }

    })

    function getWidth() {
        document.getElementById("frame").style.height = window.innerHeight;
    }
</script>
</body>
</html>