<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--logo-->
    <link rel="shortcut icon" href="https://s2.loli.net/2023/04/21/fj1385u7xsZoNPI.png"/>
    <link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/direct.css">
    <link rel="stylesheet" href="css/shell.css">
    <link rel="stylesheet" href="css/wts-app.css">
    <!-- 导入字体图标库 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <title>FHA题库-试卷管理</title>
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
        .demo-table-expand {
            font-size: 0;
        }
        .demo-table-expand label {
            width: 90px;
            color: #99a9bf;
        }
        .demo-table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
            width: 70%;
        }
    </style>
</head>
<body background="https://s2.loli.net/2023/04/21/ldUvMHt5h7ZNygR.jpg" style="background-size: cover">
<div id="app" style="height:714px">
    <!--导航栏-->
    <div class="container_direct">
        <div  style="position: absolute;z-index: 99;top: 9px;left: 30px">
            <a href="homePaper.html"><img src="image/logo.png" height="60px" width="100px"></a>
        </div>
        <nav>
            <ul>
                <li><a href="Topic.html" style="text-decoration: none;">试卷管理</a></li>
                <li><a href="exam.html" style="text-decoration: none;">答题室</a></li>
                <li><a href="myexam.html" style="text-decoration: none;">成绩统计</a></li>
                <li><a href="minepage.html" style="text-decoration: none;">我的</a></li>
            </ul>
        </nav>
    </div>
    <!--正文-->
    <div style="margin: auto; height: 100%">
        <!--侧边栏-->
        <el-row gutter="20">
            <el-col :span="3" :offset="3">
                <div>
                    <el-menu
                            default-active="3"
                            class="el-menu-vertical-demo">
                        <a href="http://localhost:8080/FanHA-Exam/Paper.html" target="_blank">
                        <el-menu-item index="1">
                            <i class="el-icon-location"></i>
                            <span>试卷</span>
                        </el-menu-item>
                        </a>
                        <a href="http://localhost:8080/FanHA-Exam/Items.html" target="_blank">
                        <el-menu-item index="2">
                            <i class="el-icon-menu"></i>
                            <span>试题集</span>
                        </el-menu-item>
                        </a>
                        <a href="http://localhost:8080/FanHA-Exam/Topic.html" target="_blank">
                        <el-menu-item index="3">
                            <i class="el-icon-document"></i>
                            <span>试题</span>
                        </el-menu-item>
                        </a>
                    </el-menu>
                </div>
            </el-col>
            <!--表格-->
            <el-col :span="15" v-loading="loading">
                <template>
                    <!--添加按钮-->
                    <el-button type="danger" @click="deleteById" plain>批量删除</el-button>
                    <el-button type="primary" icon="el-icon-edit" @click="showAddTopic();">添加题目</el-button>
                    <!--添加表单-->
                    <el-dialog title="添加题目"  center :visible.sync="addFormVisible">
                        <el-form :model="topic" ref="addTopic" label-width="100px" class="add-topic" style="width: 70%;margin: auto">
                            <el-form-item
                                    prop="title"
                                    label="题目"
                                    :rules="[{ required: true, message: '请输入题目', trigger: 'blur' }]">
                                <el-input v-model="topic.title"></el-input>
                            </el-form-item>
                            <el-form-item
                                    v-for="(option, index) in topic.options"
                                    :label="'选项' + (index +1)"
                                    :key="option.key"
                                    :prop="'options.' + index + '.value'"
                                    :rules="{required: true, message: '选项不能为空', trigger: 'blur'}">
                                <el-input v-model="option.value" style="width: 80%"></el-input><span><el-button @click.prevent="removeOption(option)">删除</el-button></span>
                            </el-form-item>
                            <el-form-item
                                    label="题型"
                                    :rules="{required: true, message: '选项不能为空', trigger: 'blur'}"
                            >
                                <el-select v-model="select" clearable  placeholder="请选择">
                                    <el-option
                                            v-for="item in selects"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value"
                                            :disabled="item.disable"
                                    >
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item
                                    prop="answer"
                                    label="答案"
                                    :rules="[{ required: true, message: '请输入答案', trigger: 'blur' }]">
                                <el-input v-model="topic.answer"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="addTopic()">提交</el-button>
                                <el-button @click="addOption">新增选项</el-button>
                                <el-button @click="resetForm('addTopic')">重置</el-button>
                            </el-form-item>
                        </el-form>
                    </el-dialog>
                    <!--表格正文-->
                    <el-table
                            border
                            ref="multipleTable"
                            :data="tableData"
                            tooltip-effect="dark"
                            style="width: 100%"
                            :row-class-name="tableRowClassName">
                            @selection-change="handleSelectionChange">
                        <el-table-column type="expand" label="展开" width="55">
                        <template slot-scope="props">
                            <el-form label-position="left" inline class="demo-table-expand">
                                <el-form-item label="创建时间">
                                    <span>{{ props.row.date }}</span>
                                </el-form-item>
                                <el-form-item label="题目">
                                    <span><strong>{{ props.row.title }}</strong></span>
                                </el-form-item>
                                <el-form-item   v-for="(option,index) in props.row.options" :label="'选项'+(index+1)">
                                    <span>{{ option }}</span>
                                </el-form-item>
                                <el-form-item label="答案">
                                    <span>{{ props.row.answer }}</span>
                                </el-form-item>
                            </el-form>
                        </template>
                        </el-table-column>
                        <el-table-column
                                type="selection"
                                fixed
                                width="55">
                        </el-table-column>
                        <el-table-column
                                prop="date"
                                label="日期"
                                sortable
                                width="120">
                        </el-table-column>
                        <el-table-column
                                prop="title"
                                label="题目"
                                width="700">
                        </el-table-column>
                        <el-table-column
                                prop="type"
                                label="题目类型"
                                width="120">
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <!--编辑键-->
                                <el-button
                                        size="mini"
                                        @click="showTopic(scope.$index)"
                                        >编辑
                                </el-button>
                                <!--删除键-->
                                <el-button slot="reference" size="mini" type="danger" @click="deleteByIdInt(scope.$index)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </template>
                <!--编辑面板-->
                <el-dialog title="编辑题目"  center :visible.sync="editFormVisible">
                    <el-form :model="topic" ref="topic" label-width="100px" class="edit-topic" style="width: 70%;margin: auto">
                        <el-form-item
                                prop="title"
                                label="题目"
                                :rules="[{ required: true, message: '请输入题目', trigger: 'blur' }]">
                            <el-input v-model="topic.title"></el-input>
                        </el-form-item>
                        <template v-for="(option, index) in topic.options">
                        <el-form-item
                                :label="'选项'+(index+1)"
                                :rules="[{ required: true, message: '请输入选项', trigger: 'blur' }]">
                            <el-input v-model="topic.options[index]"></el-input>
                        </el-form-item>
                        </template>
                        <el-form-item
                                label="题型"
                                :rules="{required: true, message: '选项不能为空', trigger: 'blur'}">
                            <el-select v-model="select" clearable  placeholder="请选择">
                                <el-option
                                        v-for="item in selects"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value"
                                        :disabled="item.disable"
                                >
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item
                                prop="answer"
                                label="答案"
                                :rules="[{ required: true, message: '请输入答案', trigger: 'blur' }]">
                            <el-input v-model="topic.answer"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="updateTopic(topic.id)">提交</el-button>
                            <el-button @click="resetForm('select'); topic = {}">重置</el-button>
                        </el-form-item>
                    </el-form>
                </el-dialog>
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-sizes="[10, 20, 30, 40]"
                        :page-size="10"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="total">
                </el-pagination>
            </el-col>
        </el-row>
        <!--页脚-->
        <div class="foot">
            FHA题库 -V 1.0.0
        </div>
    </div>

</div>
<script src="js/app.js"></script>
<!--导入axios框架 vue2框架 element组件 以及css样式-->
<script src="js/axios-0.18.0.js"></script>
<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
<script>
    new Vue({
        el: "#app",
        mounted(){
            this.getTopic();
        },
        methods: {
            //更改信息
            updateTopic(id){
                this.topic.id = this.updateId;
                //修改axios
                let _this = this;

                axios({
                    method: "post",
                    url: "http://localhost:8080/FanHA-Exam/Topic/updateTopic",
                    data: _this.topic
                }).then(function (resp) {
                    if (resp.data === "success") {
                        //添加成功
                        //关闭窗口
                        _this.editFormVisible = false;
                        //重新查询数据
                        _this.getTopic();
                        //添加成功弹窗
                        _this.$message({
                            message: "修改成功",
                            type: 'success'
                        })
                    }
                })
            },
            showAddTopic(){
                this.topic = {
                    options: [{
                        option: ''
                    }],
                        title: '',
                        answer: '',
                }
                this.addFormVisible = true;
            },
            //修改功能
            showTopic(id) {
                this.updateId = this.tableData[id].id;
                this.topic.title =  this.tableData[id].title;
                this.topic.answer =  this.tableData[id].answer;
                this.select = 'select';
                this.topic.options = this.tableData[id].options;
                //将id改为数据库中的id

                this.editFormVisible = true;
            },
            toggleSelection(rows) {
                if (rows) {
                    rows.forEach(row => {
                        this.$refs.multipleTable.toggleRowSelection(row);
                    });
                } else {
                    this.$refs.multipleTable.clearSelection();
                }
            },
            //通过int删除
            deleteByIdInt(id) {
                //清空ints[]数组存放当前的id
                this.flag = true;
                this.ints[0] = this.tableData[id].id;
                this.deleteById();
                this.flag = false;
            },
            //通过数组删除
            deleteById() {
                //弹出确认提示框
                this.$confirm('此操作将永久删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    console.log(this.multipleSelection);
                    if (!this.flag)
                        for (let i = 0; i < this.multipleSelection.length; i++)
                            this.ints[i] = this.multipleSelection[i].id;
                    console.log(this.ints[0]);
                    //发送ajax请求
                    let _this = this;
                    axios({
                        method: "post",
                        url: "http://localhost:8080/FanHA-Exam/Topic/deleteById",
                        data: _this.ints
                    }).then(function (resp) {
                        if (resp.data === "success") {
                            //重新查询数据
                            _this.getTopic();
                            //用户点击确认
                            _this.$message({
                                message: "删除成功",
                                type: 'success'
                            });
                            _this.ints = []
                        }
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                })
            },
            addTopic(){
                let _this = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/FanHA-Exam/Topic/addTopic",
                    data: _this.topic
                }).then(function (resp){
                    if (resp.data === "success"){
                        _this.$message({
                            message: '添加成功',
                            type: 'success'
                        });
                    }else {
                        _this.$message({
                            message: '添加失败',
                            type: 'warning'
                        });
                    }
                    this.topic = {
                        options: [{
                            option: ''
                        }],
                        title: '',
                        answer: '',
                    }
                    _this.addFormVisible = false;
                })
            },
            //复选框选中后的方法
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            handleSizeChange(val) {
                this.pageSize = val;
                this.getTopic() ;
            },
            handleCurrentChange(val) {
                this.currentPage = val;
                this.getTopic();
            },
            getTopic(){
                let _this = this;
                axios({
                    method: "get",
                    url: "http://localhost:8080/FanHA-Exam/Topic/getTopic?currentPage="+ _this.currentPage+ "&pageSize=" + _this.pageSize,
                }).then(function (resp){
                    if (resp !== "false"){
                        _this.total = resp.data.pageInfo.total;
                        _this.tableData = resp.data.list;
                        _this.loading = false;
                    }else{
                        _this.$message({
                            message: '获取题目失败',
                            type: 'warning'
                        });
                        _this.loading = false;
                    }

                })
            },
            /*着色*/
            tableRowClassName({row, rowIndex}) {
                if (rowIndex % 4 === 1) {
                    return 'warning-row';
                } else if (rowIndex % 4 === 3) {
                    return 'success-row';
                }
                return '';
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            removeOption(item) {
                var index = this.topic.options.indexOf(item)
                if (index !== -1) {
                    this.topic.options.splice(index, 1)
                }
            },
            addOption() {
                this.topic.options.push({
                    value: '',
                    key: Date.now()
                });
            }
        },
        data() {
            return {
                updateId:'',
                flag: false,
                ints: [],
                multipleSelection:[],
                pageSize: 10,
                total: 0,
                currentPage:1,
                tableData: [],
                addFormVisible: false,
                editFormVisible: false,
                topic: {
                    id:'',
                    options: [{
                        option: ''
                    }],
                    title: '',
                    answer: '',
                },
                select: '',
                selects:[{
                    label: '单选',
                    value: 'select',
                },{
                    label: '多选',
                    value: 'mulSelect',
                    disable: true
                },{
                    label: '填空',
                    value: 'blank',
                    disable: true
                },
                ],
                loading : true,
            }

            }

    })
</script>
</body>
</html>